body { margin: 0; }
.full { 
  width:100vw;
  margin: 0;
}

.download { 
  font-family: Futura, sans-serif;
  font-size: 6rem;
  color: white;
  width: 100vw;
  padding: 20vh 20px;
  background: #fdda00;
}

.link a { text-decoration: none; }
