body { margin: 0; }
.full { 
  width:100vw;
  margin: 0;
}

.download { 
  font-family: Futura, sans-serif;
  font-size: 4rem;
  color: white;
  padding: 20vh 0;
  background: #fdda00;
}

.download a {
  text-decoration: none;
  font-size: 6rem;
  color: white;
  padding: 0 20px;
}

.download a:hover { 
  color: black;
}
